body{
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.menu{
    text-align: center;
    padding-top: 5px;
}

li{
    text-decoration: none;
    list-style: none;
    display: inline-flex;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border: solid 1px white;
}

li:hover{
    cursor: pointer;
    background-color: aqua;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.active{
    background-color: aqua;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 15px;
    padding-bottom: 15px;

}

a{
    color: white;
    text-decoration: none;
}

.welc{
    color: white;
    text-align: center;
    padding-top: 5%;
}

h2{
    font-size: 35px;
}

h1{
    border-bottom: solid 2px white;
    border-width: 25%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 color:darkcyan;
}

#reg{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input_det{
    width: 80%;
    height: 5%;
    color:darkcyan
}

#radio{
    font-size: 25px;
    color: aqua;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form{
    margin-left: 10px
}

#submit{
    width: 100px;
    height: 25px;
    background-color:cadetblue;
    color: white;
    cursor: pointer;
}